:root {
  /* font-size: 10px; */
  font-family: 'roboto';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.login-img img {
  transform: scale(1.5);
}

.dashboard-header {
  box-shadow: 0px 4px 10px 0px #00000026;
}